/data/*
/__pycache__/
/cache/*
/data
/db/__pycache__/
/external/
*/__pycache__/*
/results
cache/
/results
*.jpg
test/vis_utils.py
__pycache__/
models/__pycache__/
models/py_utils/__pycache__/
result/
pic/



